@font-face {
  font-family: 'Conv_segoe';
  src: url('../fonts/segoe.eot');
  src: local('вє'), url('../fonts/segoe.woff') format('woff'), url('../fonts/segoe.ttf') format('truetype'), url('../fonts/segoe.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_segoe-ui-bold';
  src: url('../fonts/segoe-ui-bold.eot');
  src: local('вє'), url('../fonts/segoe-ui-bold.woff') format('woff'), url('../fonts/segoe-ui-bold.ttf') format('truetype'), url('../fonts/segoe-ui-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font_Awersome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: local('вє'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@colorfont:#000;
@backgroundcolor: #c72600;
@image-enter: data-uri('../img/enter.png');
@image-main-slide-shadow: data-uri('../img/main-slide-shadow.png');
@image-shadow: data-uri('../img/user_photo_dn.png');
@image-line: data-uri('../img/lineblack.png');
@image-tab-arrow: data-uri('../img/tab-arrow.png');
@image-avtor: data-uri('../img/avtor.png');
@image-kategoriya: data-uri('../img/kategoriya.png');
@buttonshadow: 0px 2px 0px 1px #bc2806;
@logo-shadow: data-uri('../img/logo_shadow.png');
@image-blog-shadow: data-uri("../img/blog-shadow.png");


.font-basic(@_font: 'Conv_segoe', @_size: 14px, @_weight: normal, @_color: @colorfont, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}

 .left-menu{
      .searching{
        position: relative;
        width: 98%;
        margin-top: 5%;
        input{
          width: 100%;
          display: block;
          margin: 0 auto;
          border: 1px solid #ddd;
          padding: 9px 35px 9px 19px;
          background: url(../img/search-icon.png) no-repeat 97% center,#e7e7e7;
        }
        .lupa{
          background: none;
          border: none;
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          height: 40px;
          width: 40px;
        }
      }
      h3{
        background: #b11907;
        text-align: left;
        color: #fff;
        font-size: 13px;
        margin-bottom: 4px;
        padding: 14px 8px;
        img{
          margin-right: 10px;
          margin-top: -2px;
        }
      }
      ul{
        li{
          ul{display: none;}
          margin: 3px 0;
          background: #f1f1f1;
          text-align: left;
          list-style-type: none;
          a{
            padding: 7px 21px;
            display: inline-block;
            color: #3d3d3d;
            font-family: 'SegoeUI';
            font-size: 13px;
            width: 100%;

          }&:hover{
              background: #000;
              a{
                color: #FFF;
                text-decoration: none;
                }
            > ul{display: block;
              a{color: red;}
              li{background: #FFF;}
            }
          }

        }
      }
}



*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/beg-1.png); 
}


.header{
  .container{
    .logo-xs{
      &:after{
        content: @logo-shadow;
        margin: 0 auto;
      }
    }
    .navbar{
      margin-bottom: 0px;
      .navbar-header{
        button{
          background: @backgroundcolor;
        }
        a{
          padding-top: 15px;
        }
      }
      background: none;
      border: none;
      .collapse{
        
        .nav{
          margin: 40px auto;
          li{
            border-right: 1px solid;
            a{
              padding: 10px 15px;
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);
            }
            &:last-child{
              border: none;
            }
            form{
                margin: 0px 10px;
                a{
                  padding-right: 2px;
                }
              input{
                border: none;
                .font-basic(@_font: 'Conv_segoe-ui-bold', @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);

              }
            }
          }
        }
      }
      .search{
        float: left;
        a{
          i{
            font-size: 18px;
          }
        }
      }
     
    }
     .enter-regastration{
      position: relative;
      margin-top: 40px;
        float: right;
        li{
          list-style-type: none;
           float: left;
          a{
            padding: 0px 10px;
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);
          }
          #enter{
            color: @backgroundcolor;
            border-right: 1px solid #000;
              &:before{
              content: @image-enter;
              position: absolute;
              margin: 0px -25px;

              }

          }
        }
      }
  }
}
// header!!!!!!!!
.main-index{
  
  .main-slide{
    
    .slide{
      background: url(../img/main-slide.jpg);
      min-height: 610px;
      .carousel-control{
        background-image: none;
      }
          
        .carousel-inner{

          .item{
              .carousel-caption{
                position: static;
              h2{
                margin-top: 160px;
                .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:55px, @_color: #fff, @_upper: uppercase);
              }
              h3{
                .font-basic(@_font: 'Conv_segoe', @_size:24px, @_color: #fff, @_upper: uppercase);
              }
              button{
                margin-top: 75px;
                background: #a92000;
                padding: 20px 50px;
                box-shadow: @buttonshadow;
                .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:22px, @_color: #fff, @_upper: uppercase);
              }
            }
          }
        }
      }
    }
    .main-tab{
      .nav{

        margin: 0px auto;
        li{
          width: 270px;
          margin: 30px auto;
          background: #e4e4e4;
          position: relative;
            a{
              margin-bottom: auto;
              &:hover{
                background: none;
              }
              p{
                margin: 17px auto auto 15px;
                .font-basic(@_size:20px, @_color: #000, @_upper: uppercase);
              }
            }
            &:after{
              content: @image-tab-arrow;
              display: none;
              position: absolute;
              margin: 33px 45%;
            }
        }
        .tab-2{
          margin-left: 15px;
        }
        .active{
          
          background: #000;
          a{
            background: none;
           
              p{
              color: #de2b01;
              }
          }
          &:after{
            display: block;
          }
          
        }
        .button-img{
          margin: 5px auto;
          overflow: hidden;
          position: relative;
          float: left;
          height: 50px;
          width: 50px;
        }
        p{
          float: left;
        }
      }
      .tab-content{
        text-align: left;
        .tab-pane{
          .content{
            h5{
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:19px, @_color: #b72300, @_upper: uppercase);
            }
            p{
              .font-basic(@_size:14px, @_color: #000, @_line: 23px);
              margin-bottom: 50px;
            }
            .project-info{
              
              img{
                float: left;
                margin: 10px;
              }
              width: 100%;
              overflow: hidden;
              h6{
                margin: 16px auto;
                float: left;
                .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:14px, @_color: #000, @_upper: uppercase);
              }
              a{
                margin: 15px auto;
                float: left;
                margin-left: 5px;
                text-decoration: underline;
              }
              p{
                margin: 15px auto;
                margin-left: 5px;
                float: left;
                color: #929292;
              }
            }
            .progress{
              height: 7px;
              margin: 20px auto;
              width: 90%;
            }
            .info{
                text-align: center;
                .counter{
                
                h5{
                   .font-basic(@_size:12px, @_color: #929292, @_upper: uppercase);
                }
                p{

                  
                  margin-bottom: 0px; 
                  .font-basic(@_size:12px, @_color: #929292, @_upper: uppercase);
                }
                .zib{
                  color: #0b83a6;
                }
                .zal{
                  color: #b72300;
                }
              } 
            }
          }
        }
      }
      hr{
        border: 1px solid #c72600;
      }
    }
  
      .pop-slide{
        .slide{
           h4{
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:36px, @_color: #fff, @_upper: uppercase);
            }
          .left{
            left: -15px;
            background-image: none;
          }
          .right{
            right: -15px;
            background-image: none;
          }
          min-height: 700px;
          background: url(../img/pop-slide.png);
          .carousel-inner{

            .item{
              .carousel-caption{
                position: static;

                .container{

                }
              }
            }
          }
        }
        
      }
      .successful-slide{
        .slide{
          h4{
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:36px, @_color: #000, @_upper: uppercase);
            }
          min-height: 1200px;
          .left{
          background-image: none;
          left: -15px;
          }
          .right{
            right: -15px;
          background-image: none;
          }
          .carousel-inner{
            .item{
              .carousel-caption{
                position: static;
              }
            }
          }
        }
      }
      .partners{
        .container{
          h4{
            margin-bottom: 30px;
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:36px, @_color: #000, @_upper: uppercase);
          }
          .col-lg-2{
            img{
            border: 2px solid #808080;
            }
          }
          margin-bottom: 165px;
        }
      }

}
// dezine begin
          .dezine{
          margin-top: 3%;
          position: relative;
            &:after{
                  content:@image-main-slide-shadow;
                  position: absolute;
                  margin-left: -45%;
                  margin-top: -2px;
                };
          hr{
            color: #121212;
            width: 100%;
            border: 5px solid;
            margin: 0px;
          }
          .bg-white{
            background: #fff;
            overflow: hidden;
            /*margin-top: 10px;*/
            img{

              padding: 5px;
                  /*margin-left: 10px;*/
            }
            h5{
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #343434, @_upper: uppercase, @_align: left, @_line: 2);
              margin: 10px;
            }
            .avtor{
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #444444, @_upper: none, @_align: left, @_line: none);
              margin: 10px;
              float: left;
            }
            a{
              float: left;
              width: 64%;
              text-align: left;
              margin-top: 3%;
              font-size: 14px;
              text-decoration: underline;
            }
            .zadanie{
              float: left;
              text-align: left;
              margin: 10px;
              font-size: 12px;
              color: #000;
            }
            .lebl{
                float: left;
                margin: 0px 10px;
                color: #000;          
                li{
                  float: left;
                  list-style-type: none;
                  text-decoration: underline;
                  font-size: 12px;               
                  margin: 2px 3px;
                  i{
                    margin-top: -5px;
                    color: #c91a05;
                  }
                }
            }
              .happy{
                overflow: hidden;
                background: #a81605;
                width: 100%;
                p{
                  .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #fff, @_upper: uppercase);
                  margin: 10px auto;
                }
              }
            .opros{
                background: #ebebeb;
                border: 2px solid #f9f9f9;
                            
              .progress{
                height: 5px;
                margin-bottom: 9px;
                margin-top: 9px;
              }
              .col-lg-4{
                padding: 2px;
                border: 1px solid #f9f9f9;
                border-left: none;              
                span{
                  text-transform: uppercase;
                  font-size: 12px;
                }
                p{
                  .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 14px, @_color: #000000, @_upper: uppercase, @_align: none, @_line: none);
                }
              }
              .green{
                color: #139b13;
                p{
                  color: #139b13;
                }
              }
              .red{
                color: #b72300;
                border-right: none;
                p{
                  color: #b72300;
                }
              }
          }
          }
        }

// dezine end

// main-index
.main-popular{
    .container{
      .row{
        .breadcrumb{
          background: none;
          text-align: left;
          padding: 0px;
          margin-bottom: 6px;
          margin-top: 3%;
          a{
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);         
            text-decoration: none;
          }
          a:active { 
            color:  #c72600;            
          }          
        }
        .product{
          font-size: 15px;
          text-align: left;
          color: #8b8b8b;
          text-transform: uppercase;
           margin-bottom: 3%;
        }
        .line{
          color: #b3b4b5;
          width: 100%;
          border: 1px solid;
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .dez{
          .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 18px, @_color: #343434, @_upper: none, @_align: left, @_line: 2);
        }

        

        .btn{
          color: #333;
          background-color: #b9b9b9;
          border-color: #ccc;
          width: 32%;
          margin-top: 4%; 
          margin-bottom: 4%;        
          border-radius: 1px;
          text-transform: uppercase;
          font-size: 13px;
          font-family: SegoeUI;
        }
      }
    } 
  }
  // main-popular
.main-rekomend{
    .container{
      .row{
        .breadcrumb{
          background: none;
          text-align: left;
          padding: 0px;
          margin-bottom: 6px;
          margin-top: 3%;
          a{
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);         
            text-decoration: none;
          }
          a:active { 
            color:  #c72600;            
          }          
        }
        .product{
          font-size: 15px;
          text-align: left;
          color: #8b8b8b;
          text-transform: uppercase;
           margin-bottom: 3%;
        }
        .line{
          color: #b3b4b5;
          width: 100%;
          border: 1px solid;
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .dez{
          .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 18px, @_color: #343434, @_upper: none, @_align: left, @_line: 2);
        }

        

        .btn{
          color: #333;
          background-color: #b9b9b9;
          border-color: #ccc;
          width: 32%;
          margin-top: 4%; 
          margin-bottom: 4%;        
          border-radius: 1px;
          text-transform: uppercase;
          font-size: 13px;
          font-family: SegoeUI;
        }
      }
    } 
  }
  // main-rekomend
.main-blog{
  .container{
    margin-top: 20px;
    text-align: left;
    .left{
      .title{
        .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 16px, @_color: #343434, @_upper: uppercase, @_line: 27px);
        hr{
          margin: 0px;
          border: 1px solid #b2b2b3;
        }
      }
    
    .tab-blog{
      margin-top: 25px;
      .nav{
        margin-bottom: 40px;
        text-align: center;
        border-bottom: 3px solid #000;
        li{

          position: relative;
          margin-right: 15px;
          width: 170px;
          background: #ebebeb;
          border-radius: 5px 5px 0 0;
          &:after{
              content: @image-tab-arrow;
              display: none;
              
              margin: -21px 45%;
            }
            a{
              padding: 12px 15px;
              .font-basic(@_size: 14px, @_color: #000, @_upper: uppercase);
            }
        }
        .active{
            border-radius: 5px 5px 0 0;
            a{
              border-radius: 5px 5px 0 0;
            }
          &:after{
            display: block;
          }
          a{
            background-color: #000;
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 14px, @_color: #de2b01, @_upper: uppercase);
          }
        }
      }
      .tab-content{
          .tab-pane{
            .element{
              position: relative;
              border-top: 5px solid #000;
              background: #f4f4f4;
              margin: 40px auto;
              .element-img{
                float: left;
                max-width: 180px;
                img{
                  padding: 15px;
                }
              }
              .element-content{
                padding-left: 0px;
                float: left;
                max-width: 450px;
                h5{
                  .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #000, @_upper: uppercase, @_line: 21px);
                }
                p{
                  float: left;
                }
                a{
                  float: left;
                }
                ul{
                  li{
                    float: left;
                    list-style-type: none;
                    padding-right: 8px;
                    &:first-child{
                      border-right: 1px solid #a8a8a8;
                    }
                    span{
                      .font-basic(@_size: 12px, @_color: #a8a8a8);
                      
                    }
                    i{
                      padding: 0px 8px;
                    }
                    .counter{
                      .font-basic(@_size: 12px, @_color: #b12406);
                    }
                    .commit{
                      .font-basic(@_size: 12px, @_color: #000);
                    }
                  }
                }
                .avtor{
                  overflow: hidden;
                  p{
                    .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #444444);
                    a{
                      float: none;
                      text-decoration: underline;
                      margin-left: 5px;
                    }
                  }

                }
              }
              &:after{
                content: @image-blog-shadow;
              }
            }

          }
        }
      }    
    }
    .right{
      .searching{

            position: relative;
            width: 100%;
            
            input{
              width: 100%;
              display: block;
              margin: 0 auto;
              border: 1px solid #ddd;
              padding: 9px 35px 9px 19px; 
              background: url(../img/search-icon.png) no-repeat 97% center,#e7e7e7;             
            }
            .lupa{
              background: none;
              border: none;
              position: absolute;
              right: 0;
              top: 0;
              padding: 0;
              height: 40px;
              width: 40px;
            }
          }
          .title{
            border-bottom: 3px solid #c72600;
            margin-top: 37px;
        .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 16px, @_color: #c72600, @_upper: uppercase, @_line: 27px);
        
      }
            .element{
              position: relative;
              border-top: 5px solid #c72600;
              background: #f4f4f4;
              margin: 40px auto;
              .element-img{
                float: left;
                max-width: 180px;
                img{
                  padding: 15px;
                }
              }
              .element-content{
                padding-left: 0px;
                float: left;
                max-width: 250px;
                h5{
                  .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #000, @_upper: uppercase, @_line: 21px);
                }
                p{
                  float: left;
                }
                a{
                  float: left;
                }
                 .avtor{
                  overflow: hidden;
                  p{
                    .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 12px, @_color: #c72600, @_upper: uppercase, @_line: 21px);
                    a{
                      float: none;
                      text-decoration: underline;
                      margin-left: 5px;
                    }
                  }

                }
              }
              
            

          }

    }
    .pagination-button{
      .pagination{
            li{
                a{
                  background: #b9b9b9;
                  color: #000;
                  margin: 0px 6px;
              }
            }
          

            .disabled{  
                a{
                    background: #ffffff;

                  }
            }
            .active{
                a{
               
                border-radius: 0px; 
                background: red; 
                color: #fff;  
                text-transform: uppercase;          
                } 
            }
          }
      }
  }
}
// main-blog
.main-vsirekomend{
    .container{
      .row{
        .breadcrumb{
          background: none;
          text-align: left;
          padding: 0px;
          margin-bottom: 6px;
          margin-top: 3%;
          a{
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);         
            text-decoration: none;
          }
          a:active { 
            color:  #c72600;            
          }          
        }
        .product{
          font-size: 15px;
          text-align: left;
          color: #8b8b8b;
          text-transform: uppercase;
           margin-bottom: 3%;
        }
      /*  hr{
          color: #b3b4b5;
          width: 100%;
          border: 1px solid;
          margin-top: 10px;
          margin-bottom: 0px;
        }*/
        .dez{
          .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 18px, @_color: #343434, @_upper: none, @_align: left, @_line: 2);
        }

           
        .pagination{
          margin: 5% 0 5%;
            li{
                a{
                  background: #b9b9b9;
                  color: #000;
                  margin: 0px 6px;
              }
            }
          

            .disabled{  
                a{
                    background: #ffffff;

                  }
            }
            .active{
                a{
               
                border-radius: 0px; 
                background: red; 
                color: #fff;  
                text-transform: uppercase;          
                } 
            }
          }
      }
    } 
  }
  // main-vsirekomend
.main-dezine{
    .container{
      .row{
        .breadcrumb{
          background: none;
          text-align: left;
          padding: 0px;
          margin-bottom: 6px;
          margin-top: 3%;
          a{
            .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 0);         
            text-decoration: none;
          }
          a:active { 
            color:  #c72600;            
          }          
        }
        .product{
          font-size: 15px;
          text-align: left;
          color: #8b8b8b;
          text-transform: uppercase;
           margin-bottom: 3%;
        }
        .line{
          color: #b3b4b5;
          width: 100%;
          border: 1px solid;
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .dez{
          .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 18px, @_color: #343434, @_upper: none, @_align: left, @_line: 2);
        }       
        .btn{
          color: #333;
          background-color: #b9b9b9;
          border-color: #ccc;
          width: 32%;
          margin-top: 4%; 
          margin-bottom: 4%;        
          border-radius: 1px;
          text-transform: uppercase;
          font-size: 13px;
          font-family: SegoeUI;
        }
      }
    } 
  }
  // main-popular 
.main-rule{
  h2{
    .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_color: #000000, @_upper: uppercase, @_align: left, @_line: 3)
  }
  p{
    .font-basic(@_size: 16px, @_weight: normal, @_color: #7f7f80, @_upper: uppercase, @_align: left, @_line: 2)
  }
  hr{    
    border: 1px solid #000000;
  }
  .white{
    background: #f9fafa;
    border: 1px solid #dbdcdb;
    opacity: 1.9;
    .grey{
      border-right: 1px solid #dbdcdb;
    .red{
      margin-top: 3%;
      .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 16px, @_weight: normal, @_color: #b11907, @_upper: uppercase, @_align: left, @_line: 2)
    }
    .black{
      .font-basic(@_size: 14px, @_weight: normal, @_color: #000000, @_upper: none, @_align: left, @_line: 2);
      margin-bottom: 3%;
    }
    i{
      font-size: 10px;
      margin-right: 10px;
    }
    a{
      text-decoration: underline;
    }
  }
  }
  .green{
    background: #f9faf9;
    
    h5{
      .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 11px, @_weight: normal, @_color: #000000, @_upper: uppercase, @_align: justify, @_line: 2);
      margin-top: 13%;
    }
    .black{
      .font-basic(@_size: 12px, @_weight: normal, @_color: #000000, @_upper: none, @_align: left, @_line: 2);
    }
    i{
      font-size: 10px;
      margin-right: 10px;
    }
  }  
  .down{
    background: #fefefe;
    border: 1px solid #dbdcdb;
    border-top: none;
    margin-bottom: 15%;
    form{
      margin-top: 3%;
      float: left;
      width: 50%;
      input{
        width: 20px;
        height: 18px;
          margin-right: 1%;
      }
    .black{
      .font-basic(@_size: 14px, @_weight: normal, @_color: #000000, @_upper: none, @_align: left, @_line: 2);
      margin-bottom: 3%;
    }
    a{
      text-decoration: underline;
    }
    }
    button{
      margin: 3%;
      .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 16px, @_weight: normal, @_color: #ffffff, @_upper: uppercase, @_align: left, @_line: none);
      background: #b52300;
    }
  }
}
// main-rule

// main-mypage // 

.main-mypage{
  .container{
    margin-top: 75px;
    .profile{
      .foto{
       
        background: #fafafa;
        position: relative;
        img{
          padding: 10px;
        }
        &:before{
          content: url('../img/user_photo_rig.png');
          position: absolute;
          margin-left: 260px;
        }
        &:after{
          content: url('../img/user_photo_dn.png');
          position: absolute;
          margin-left: -5px;
        }
      }
      text-align: left;
      .mybalanse{
        position: relative;
        margin-top: 17px;
        height: 55px;
        
        &:after{
          content: url('../img/balanse-shadow.png');
         margin-left: -3px; 
        }
        .balanse{
          height: 100%;
          p{
            .font-basic(@_size: 14px, @_weight: normal, @_color: #ffffff, @_upper: uppercase, @_line: 21px);
            margin: 15px;
            span{
              font-size: 24px;
            }
          }
          float: left;
          background: linear-gradient(to right,#c72600 0,#c72600 90%,#28343b 106%);
        }
        .money{
          float: left;
          width: 51px;
          height: 100%;
          background: black;
          img{
            margin: 10px 8px;
          }
        }
      }
      .history{
        margin-top: 17px;
        border-bottom: 1px dotted #000;
        img{
          margin: 20px 10px 20px 0px;
        }
        span{
          .font-basic(@_size: 13px, @_upper: uppercase);
        }
      }
      .alert-1{
        margin-top: 17px;
        border-bottom: 1px dotted #000;
        img{
          margin: 20px 10px 20px 0px;
        }
        span{
          .font-basic(@_size: 13px, @_color: #c72600, @_upper: uppercase);
        }
      }
      .massedge{
        
        border-bottom: 1px dotted #000;
        img{
          margin: 15px 10px 15px 0px;
        }
        span{
          .font-basic(@_size: 13px, @_color: #c72600, @_upper: uppercase);
        }
      
      }
      .seting{
        margin-top: 17px;
        border-bottom: 1px dotted #000;
        img{
          margin: 20px 10px 20px 0px;
        }
        span{
          .font-basic(@_size: 13px, @_upper: uppercase);
        }
      }
    }
    .navmenu{
      text-align: left;

      .nav{

        .bg{
          overflow: hidden;
          margin: 10px auto;
          background: #000;
          .navmenu-brand{
            width: 100%;
            .font-basic(@_size: 14px, @_color:#fff, @_upper: uppercase);
            background-color: #000;
            padding: 15px;
            &:hover{
              background: rgb(199, 38, 0);
            }
          }
          .dropdown-toggle{
            width: 86%;
            float: left;
            padding: 15px;
            .font-basic(@_size: 14px, @_color:#fff, @_upper: uppercase);
            background-color: #000;
            &:hover{
              background: rgb(199, 38, 0);
            }
            .fa-angle-right{
            font-weight: bold;
            display: block;
            position: absolute;
            margin-top: -15px;
            margin-left: 75px;
            }
            .fa-angle-down{
            font-weight: bold;
            display: none;
            position: absolute;
            }
          }
          .number{
            float: right;
            width: 14%;
            background: #202020;
            p{
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 17px, @_weight: bold, @_color: #ffffff, @_upper: uppercase, @_line: 24px);
              margin: 10px 8px; 
            }
          }
          .drodown-menu{
           
            overflow:hidden;
            
          }

        }
        .open{
          overflow: hidden;
          background: none;

          &:hover{
            background: none;
          }
          .dropdown-toggle{
          .fa-angle-right{
            display: none;
          }
          .fa-angle-down{
            display: block;
            transition:.5s;
            margin-top: -15px;
            margin-left: 75px;
            }
          }
          .dropdown-menu{
           position: relative;
           width: 100%;
           background-color: transparent;
           border: none;
           border-radius: 0px;
          li{
            overflow: hidden;
            margin: 0 auto;
            background: none;
            border-bottom: 1px dotted black;
            a{
              .font-basic(@_size: 13px, @_color:#606161);
              margin: 10px;
              padding-left: 15px;
              width: 80%;
              float: left;
            }
            p{
              width: 10%;
              margin: 10px auto;
              float: right;
              .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 13px, @_weight: bold, @_color: #c72600, @_upper: uppercase);
            }
            &:last-child{
              border-bottom: none;
            }
          }
          }
        }
        
      }
      }
    .create-project{
      text-align: left;
      border-bottom: 1px solid #e2e2e3;
      h3{
        margin-top: 10px;
        margin-bottom: 20px;
        .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_weight: bold, @_color: #000, @_upper: uppercase);
      }
      p{
        .font-basic(@_size: 19px, @_color: #444444);
        span{
          color: #c72600;
        }
      }
      button{

        background: #a92000;
        padding: 20px 50px;
        box-shadow: @buttonshadow;
        .font-basic(@_font: 'Conv_segoe-ui-bold', @_size:22px, @_color: #fff, @_upper: uppercase);
      }
    }
    .support{
      margin-top: 25px;
      text-align: left;
      p{
        .font-basic(@_size: 19px, @_color: #000, @_line:30px);
      }
      a{
        .font-basic(@_size: 19px, @_color: #0893a8, @_line:30px);
        text-decoration: underline;
      }
    }
  }
  .exit{
    text-align: left;
    position: relative;
    margin: 35px auto 260px 26px;
    text-decoration: underline;
    .font-basic(@_color: #000, @_size:13px, @_upper: uppercase, @_align: none);
    &:before{
              content: @image-enter;
              position: absolute;
              margin: -5px -25px;

              }
  }
}

// main-mypage // 

.main-mainrule{
  margin-top: 5%;
  .nav-tabs{
    float: left;
    border-bottom: none;    
      li{
        float: none;
        border: 1px solid #ddd;        
        margin: 5px;
        background: #f3f3f4;        
        a{
          i{margin-right: 6px};
          background: #f3f3f4;
          border: none; 
          background-color: #f3f3f4;
          .font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 15px, @_color: @colorfont, @_upper: uppercase, @_align: left, @_line: 2);
        }
        
      }
      .active{  
      background-color: #f3f3f4;                 
        a{         
            background: #f3f3f4 !important;             
            border: none !important;
            color: red;
            &:hover{
              background-color: #f3f3f4;
              color: red;
              border:none;
            };
          }           
        }
  }
  .tab-content{
    margin-bottom: 11%;
    border-left: 1px solid #f3f3f4;
    .font-basic(@_size: 14px, @_weight: normal, @_color: #000000, @_upper: none, @_align: left, @_line: 2);
    text-align: left;
    h3{.font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 24px, @_color: @colorfont, @_upper: uppercase, @_align: none, @_line: 2); margin-top: 0px;}
    h5{.font-basic(@_font: 'Conv_segoe-ui-bold', @_size: 14px, @_color: @colorfont, @_upper: none, @_align: none, @_line: 2);} 
    a{text-decoration: underline;}
    .text-rule{           
      li{
        list-style-type: none;
        margin-left: 2%;
        &:first-child{
          margin-left: 0px;
        };
      }
    }
  }
} 
// main-mainrule  

.footer{
  .top{
    text-align: left;
    background: #000;
    .container{
      h4{
        margin: 40px auto;
        .font-basic(@_font: 'Conv_segoe-ui-bold', @_color: @backgroundcolor, @_upper: uppercase, @_align: none, @_line: 0);
      }
      .social{
        ul{
          li{
            width: 50%;
            padding: 15px;
            padding-left: 0px;
            float: left;
            list-style-type: none;
            .social-logo{
              text-align: center;
              margin-right: 17px;
              float: left;
              width: 30px;
              height: 30px;
              border: 2px solid @backgroundcolor;
              border-radius: 15px;
            }
            a{
              margin-top: 5px;
              text-decoration: none;
                p{
                  margin-top: 15px;
                  .font-basic(@_color: #fff, @_size: 15px, @_line:0);
                }
                i{
                  margin: 5px 6px;
                  color: @backgroundcolor;
                }
              }
          }
        }
      }
      .logo_f{
        margin: 120px auto;
      }
      
    }
  }
  .bottom{
    background: #971001;
    .container{
      ul{
        li{
          list-style-type: none;
         padding: 15px 30px;
         float: left;
          a{
            text-decoration: underline;
            .font-basic(@_size: 15px, @_color: #fff, @_align: none, @_line: 0);
          }
        }
      }
    }
  }
}




@media only screen and (min-width: 992px) and (max-width: 1200px){
  .header{
    .container{
      .navbar{
        .collapse{
          .nav{
            li{
              form{
                margin: -5px;
                margin-left: 4px;
                a{

                  i{
                    font-size: 14px;
                  }
                }
                input{
                    font-size: 12px;
                  }                
              }
              a{
                font-size: 12px;
                padding: 5px;
              }
            }
          }
        }
      }
      .enter-regastration{
      margin-top: 35px;
        li{
          a{
            font-size: 12px;
            padding: 0px 5px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .header{
    .container{
      .navbar{
        .collapse{
          float: left;
          
          .nav{
            margin: 15px auto 0px auto; 
            li{
              form{
                margin: -6px auto 0px auto;
                a{

                  i{
                    font-size: 10px;
                  }
                }
                input{
                    font-size: 10px;
                  }                
              }
              a{
                font-size: 10px;
                padding: 5px 6px;
              }
            }
          }
        }
      }
      .enter-regastration{
        margin-top: 10px;
        li{
          a{
            font-size: 10px;
            padding: 0px 5px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 460px) and (max-width: 768px){
  .header{
    .container{
      .navbar{
        .navbar-header{
          button{
            float: left;
            margin-top: 0px;
          }
        }
        .collapse{
          text-align: left;
          float: left;
          
          .nav{
            margin: 10px auto 10px auto; 
            li{
              border: none;
              form{
                margin: 0px;
                a{

                  i{
                    font-size: 14px;
                  }
                }
                input{
                    font-size: 12px;
                  }                
              }
              a{
                font-size: 12px;
                padding: 10px;
              }
            }
          }
        }
      }
      .enter-regastration{
        float: right;
        margin-top: 10px;
        li{
          a{
            font-size: 12px;
            padding: 0px 5px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 460px){
  .header{
    .container{
      .col-xs-6{
        width: 100%;
      }
      .navbar{
        .navbar-header{
          button{
            float: left;
          }
        }
        .collapse{
          text-align: left;
          float: left;
          
          .nav{
            margin: 10px auto 10px auto; 
            li{
              border: none;
              form{
                margin: 0px;
                a{

                  i{
                    font-size: 14px;
                  }
                }
                input{
                    font-size: 12px;
                  }                
              }
              a{
                font-size: 12px;
                padding: 10px;
              }
            }
          }
        }
      }
      .enter-regastration{
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        li{
          a{
            font-size: 12px;
            padding: 0px 5px;
          }
        }
      }
    }
  }
    .footer{
    .top{
      .container{
        .social{
          ul{
            li{
              float: none;
              width: 100%;
            }
          }
        }
        .logo_f{
          margin: 30px auto;
        }
      }
    }
  }
}
